
{% extends "AppBlog/base.html" %}
{% load static %}


{% block content %}

<section>
  <div>
    <h1>Lista de articulos</h1>

<a href="{% url 'Articulos'  %}"></a>

<table>
<thead>
<tr>
  <th>ID</th>
  <th>TITULO</th>
  <th>CUERPO</th>
  <th>DETALLE</th>
</tr>
</thead>



{% for articulo in object_list %} 

<tr>

  <th>{{articulo.id}}</th>
  <th>{{articulo.titulo}}</th>
  <th>{{articulo.cuerpo}}</th>
  <th><a href="{% url 'detalle_articulo' articulo.id %}">{{ articulo.id}} </a></th>

</tr>

    

{% empty %}
<p>No hay articulos disponibles todavía.</p>

{% endfor %}

</table>
    
  </div>
</section>

{% endblock %}